.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #222; /* Assure une bonne visibilité du texte */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; /* Aligne .name à gauche et .nav à droite */
    align-items: center; /* Centrer verticalement */
    padding: 10px 20px;
    box-sizing: border-box; /* Assure que la padding est incluse dans la largeur */
    overflow: hidden; /* Empêche le contenu de déborder */
}

.name h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.nav ul {
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px; /* Espacement entre les éléments de la liste */
}

.nav ul li a {
    color: #4a5de1; /* Couleur des liens */
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: underline;
}
